@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Special+Elite&display=swap');

html, body, [class*="css"] {
    font-family: 'Open Sans', sans-serif;
}

#title {
    font-family: 'Special Elite', sans-serif; 
    font-size: 36px;
    margin-bottom: 0px;
}

#subtitle-container {
    margin-bottom: -3rem;
}

#subtitle {
    font-family: 'Special Elite', sans-serif;
    font-size: 24px;
    font-style: italic;
}

#hfemoji {
    font-size: 24px;
}

#MainMenu {
    visibility: hidden;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 99.8%;
    color: grey;
    text-align: right;
}

.footer > p:nth-child(1) {
    font-size: 10px;
}

.footer > p:nth-child(1) > a {
    color: grey;
    background-color: transparent;
    text-decoration: underline;
}